%ol.breadcrumb
  %li= link_to 'Demo', root_path
  - unless controller_name == PagesController.controller_name
    %li.active
      = link_to_unless index_action?, controller_name.humanize, url_for(action: 'index')
    - unless index_action?
      %li.active
        = action_name.humanize
