= render 'shared/list', title: 'PDF Generation',
         examples: [{ title: 'Wicked PDF',
                      path: table_with_no_break_wicked_pdf_path}]
= render 'shared/list', title: 'Charts',
         examples: [{ title: 'Fusion Charts',
                      path: column2d_fusion_charts_path}]
