.abc.col-sx-12
  = render 'shared/list', title: 'PDF Generation',
           examples: [{ title: 'Wicked PDF',
                        path: table_with_no_break_wicked_pdf_path }]
  = render 'shared/list', title: 'Charts',
           examples: [{ title: 'Fusion Charts',
                        path: column2d_fusion_charts_path }]
  = render 'shared/list', title: 'Players',
           examples: [{ title: 'JWPlayer',
                        path: skin_jwplayer_path }]
  = render 'shared/list', title: 'Internationalization',
           examples: [{ title: 'Internationalization',
                        path: change_locale_internationalization_path }]
